/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #fff, #96999e); /* Gradiente de fondo */
    color: #333334; /* Color de texto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

main {
    padding: 1em;
    max-width: 800px;
    width: 100%;
    background-color: #fff; /* Fondo claro para el main */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Para que el posicionamiento absoluto de la imagen sea relativo a este contenedor */
    height: auto;
}

#corner-image {
    position: absolute; /* Sacar la imagen del flujo normal del documento */
    top: 10px; /* Ajustar según lo necesites */
    left: 10px; /* Ajustar según lo necesites */
    width: 60px; /* Aumentar el tamaño de la imagen */
    height: auto; /* Mantener la proporción de la imagen */
    margin-bottom: 20px; /* Añadir espacio debajo de la imagen */
}

section {
    margin-bottom: 2em;
}

h1, h2 {
    color: #1b1c1c; /* Color para encabezados */
}

p {
    color: #333334; /* Texto claro para legibilidad */
}

a {
    color: #e74c3c; /* Rojo para enlaces */
}

button {
    background-color: #2ecc71; /* Fondo verde para botones */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #27ae60; /* Verde más oscuro en hover */
}

/* Estilos para imágenes */
#img_instructions {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#img_instructions div {
    text-align: center;
}

#img_instructions img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el footer */
footer#contact {
    margin-top: 2em;
    background-color: #fff; /* Fondo oscuro para el footer */
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Para que el posicionamiento absoluto de la imagen sea relativo a este contenedor */
    height: auto;
}

footer#contact h2 {
    color: #1b1c1c; /* Azul para el encabezado del footer */
}

footer#contact p {
    color: #333334; /* Texto claro para el footer */
}

footer#contact a {
    color: #1e1e1e; /* Verde para enlaces en el footer */
}

footer#contact form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer#contact input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

footer#contact button {
    align-self: flex-start;
    background-color: #3498db; /* Azul para el botón */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer#contact button:hover {
    background-color: #2980b9; /* Azul más oscuro en hover */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    #img_instructions {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    main {
        padding: 1em;
    }
}
