/* index.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #10141a, #1a1f26); /* Gradiente de fondo */
    color: #ecf0f1; /* Color de texto claro para contraste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

main {
    padding: 1em;
    max-width: 800px;
    width: 100%;
    background-color: #1a1f26; /* Fondo oscuro para el main */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

section {
    margin-bottom: 2em;
}

h1, h2 {
    color: #3498db; /* Azul claro para encabezados */
}

p {
    color: #ecf0f1; /* Texto claro para legibilidad */
}

a {
    color: #e74c3c; /* Rojo para enlaces */
}

button {
    background-color: #2ecc71; /* Fondo verde para botones */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #27ae60; /* Verde más oscuro en hover */
}

/* Estilos para imágenes */
#img_instructions {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#img_instructions div {
    text-align: center;
}

#img_instructions img {
    max-width: 100%;
    height: auto;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    #img_instructions {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    main {
        padding: 1em;
    }
}
